:root {
    --t: #b3d2cf;
    --t-2: #4a5654;
    --y: #f5bd13;
    --y-2: #7a6629;
    --dark: #0d0c09;
    --board-0: #f5bd13;
    --board-1: white;
    --header-height: 70px;
    --header-wave-height: 20px;
    --grid-width: 300px;
}

.title-text {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25pt;
    line-height: 50px;
}

.button-rook {
    position: relative;
    background-color: black;
    border: none;
    height: 40px;
    width: fit-content;
    padding: 10px 10px 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25pt;
    line-height: 30px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0 0 20px 20px;
    clip-path: polygon(0 0, 14.3% 0, 14.3% 10px, 28.6% 10px, 28.6% 0, 42.9% 0, 42.9% 10px, 57.1% 10px, 57.1% 0, 71.4% 0, 71.4% 10px, 85.7% 10px, 85.7% 0, 100% 0, 100% 100%, 0 100%);
}

.button-rook>.menu-input {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: inherit;
}

.button:hover {
    color: var(--t);
}

/* Start of main code */

.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--t);
    display: none;
    z-index: 1000;
}

body:has(.menu-input-home:checked) .menu-home {
    display: block;
}

header {
    position: relative;
    width: 100%;
    height: var(--header-height);
    background-color: var(--t);
}

.header-section {
    display: flex;
    flex-direction: row;
    gap: var(--header-wave-height);
    flex-wrap: nowrap;
    position: absolute;
    top: calc(var(--header-height) - var(--header-wave-height));
    width: 100%;
    height: var(--header-wave-height);
    background-color: white;
    overflow: hidden;
}

@keyframes wave {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

.header-section-wave {
    height: 100%;
    aspect-ratio: 1.5;
    background-color: var(--t);
    animation: wave 1s infinite;
}

main {
    margin: 20px auto auto;
}

.grid {
    display: grid;
    margin: auto;
    width: min(var(--grid-width), calc(100% - 10px));
    max-width: calc(calc(100vh - 10px) - var(--header-height));
    aspect-ratio: 1;
    border: 2px solid var(--y-2);
    border-radius: 4px;
    overflow: hidden;
}

.square {
    position: relative;
    border: none;
}

.square-even {
    background-color: var(--board-0);
}

.square-odd {
    background-color: var(--board-1);
}

.square-check {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    cursor: pointer;
}

.square-dot {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 20%;
    height: 20%;
}

.square-full .square-dot {
    transition-duration: 0.3s;
    background-color: black;
    clip-path: polygon(20% 0, 80% 0, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%, 20% 0%, 30% 30%, 30% 70%, 70% 70%, 70% 30%, 30% 30%, 20% 0, 20% 0, 20% 0, 20% 0, 20% 0, 20% 0, 20% 0);
}

.square-full:has(.square-check:hover) .square-dot {
    transform: scale(1.5);
}

.square-full:has(.square-check:checked) .square-dot {
    clip-path: polygon(0 0, 20% 0, 20% 20%, 40% 20%, 40% 0%, 60% 0%, 60% 20%, 80% 20%, 80% 0%, 100% 0%, 100% 40%, 70% 40%, 70% 70%, 90% 70%, 90% 100%, 10% 100%, 10% 70%, 30% 70%, 30% 40%, 0% 40%, 0% 0%);
    transform: scale(1.5);
}

.square-full:has(.square-disable:checked) .square-dot {
    transform: scale(2);
}
.square-full:has(.square-disable:checked):has(.square-check:checked) {
    background-image: linear-gradient(#00000022);
}

.square-full:has(.square-disable:checked):has(.square-check:not(:checked)) .square-dot {
    transform: scale(0);
}

.square-full:has(.square-check:checked):has(.square-disable:checked) .square-cover {
    position: absolute;
    width: 5000%;
    height: 5000%;
    top: -2500%;
    left: -2500%;
    z-index: 1000;
    clip-path: polygon(0 0, 50% 0, 50% 50%, 0 50%, 0 52%, 50% 52%, 50% 100%, 52% 100%, 52% 52%, 100% 52%, 100% 50%, 52% 50%, 52% 0, 100% 0, 100% 100%, 0 100%, 0 0);
}

.square-full:has(.square-check:checked):has(.square-disable:not(:checked)) .square-cover {
    position: absolute;
    width: 5000%;
    height: 5000%;
    top: -2500%;
    left: -2500%;
    z-index: 1000;
}

.square-empty .square-cover,
.square-full:has(.square-disable:checked) .square-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.square-disable {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    margin: 0;
    z-index: 1000;
    cursor: pointer;
}

.square:has(.square-check:checked) .square-disable {
    display: block;
}