:root {
    --t-purple: #9288ff;
    --t-blue: #85d0ff;
    --t-yellow: #ffdd84;
    --t-brown: #83785c;
    --t-dullblue: #747a8c;
    --t-grey: #cac8c6;
    --board-0: #cac8c6;
    --board-1: white;
    --header-height: 70px;
    --wave-height: 20px;
    --grid-width: 300px;
}

* {
    box-sizing: border-box;
}

h1 {
    display: block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25pt;
    line-height: 50px;
    font-style: normal;
    font-weight: semi-bold;
}

h2 {
    display: block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18pt;
    line-height: 40px;
    font-style: normal;
    font-weight: semi-bold;
    color: var(--t-dullblue);
}

small {
    display: block;
    font-family: Roboto, monospace, sans-serif;
    font-size: 10pt;
    line-height: 30px;
    font-style: italic;
    font-weight: normal;
}

.button {
    display: inline-block;
    position: relative;
}

.button>.menu-input {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.button:has(.menu-input:focus) {
    outline: 2px solid var(--t-purple);
}

.button-rook {
    background-color: black;
    border: none;
    height: 40px;
    width: 150px;
    margin: 5px;
    padding: 10px 10px 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 30px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0 0 20px 20px;
    clip-path: polygon(0 0, 14.3% 0, 14.3% 10px, 28.6% 10px, 28.6% 0, 42.9% 0, 42.9% 10px, 57.1% 10px, 57.1% 0, 71.4% 0, 71.4% 10px, 85.7% 10px, 85.7% 0, 100% 0, 100% 100%, 0 100%);
}

.button-rook:hover {
    background-color: var(--t-brown);
}

.button-menu {
    display: inline-block;
    position: relative;
    border: none;
    height: 25px;
    width: 25px;
    cursor: pointer;
    background-color: transparent;
}

.button-close {
    display: inline-block;
    position: relative;
    border: none;
    height: 25px;
    width: 25px;
    cursor: pointer;
    background-color: transparent;
}

.button-shape {
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.button-menu-easy,
.button-menu-medium,
.button-close-easy,
.button-close-medium,
.button-close-home {
    display: none;
}

body:has(.menu-input-play-medium:checked) .button-menu-medium {
    display: inline-block;
}
body:has(.menu-input-play-easy:checked) .button-menu-easy {
    display: inline-block;
}
body:has(.menu-input-menu-medium:checked) .button-close-medium {
    display: inline-block;
}
body:has(.menu-input-menu-easy:checked) .button-close-easy {
    display: inline-block;
}
body:has(.menu-input-menu-home:checked) .button-close-home {
    display: inline-block;
}

@keyframes button-option {
    0% {
        margin-top: -20px;
        opacity: 0;
    }
    100% {
        margin-top: 0;
        opacity: 1;
    }
}

.button-option,
.button-backoption {
    display: block;
    margin: auto;
    position: relative;
    width: 100%;
    max-width: 300px;
    height: 40px;
    padding: 4px 0 0;
    background-color: transparent;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-top: 1px solid transparent;
    animation: button-option 0.5s forwards
}

.button-option {
    color: black;
}

.button-backoption {
    color: var(--t-yellow);
}

.button-option:not(:hover,:focus)+.button-option:not(:hover,:focus),
.button-backoption:not(:hover,:focus)+.button-option:not(:hover,:focus),
.button-option:not(:hover,:focus)+.button-backoption:not(:hover,:focus),
.button-backoption:not(:hover,:focus)+.button-backoption:not(:hover,:focus) {
    border-top: 1px solid var(--t-grey);
}

.button-option:has(:hover),
.button-option:has(:focus),
.button-backoption:has(:hover),
.button-backoption:has(:focus) {
    background-color: var(--t-blue);
    border: none;
    border-top: 1px solid var(--t-blue);
    color: black;
}

.button-option::after {
    content: ">";
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 30px;
    color: var(--t-grey);
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    right: 30px;
    transition: right 0.2s;
}

.button-option:hover::after,
.button-option:focus::after {
    right: 10px;
    color: black;
}

.button-backoption::before {
    content: "<";
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 30px;
    color: var(--t-grey);
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    left: 30px;
    transition: left 0.2s;
}

.button-backoption:hover::before,
.button-backoption:focus::before {
    left: 10px;
    color: black;
}

.icon-rook {
    width: 25px;
    height: 25px;
    background-color: black;
    clip-path: polygon(0 0, 20% 0, 20% 20%, 40% 20%, 40% 0%, 60% 0%, 60% 20%, 80% 20%, 80% 0%, 100% 0%, 100% 40%, 70% 40%, 70% 70%, 90% 70%, 90% 100%, 10% 100%, 10% 70%, 30% 70%, 30% 40%, 0% 40%, 0% 0%);
}

.icon-close {
    width: 25px;
    height: 25px;
    background-color: black;
    clip-path: polygon(0 0, 12% 0, 50% 38%, 88% 0,100% 0, 100% 12%, 62% 50%, 100% 88%, 100% 100%, 88% 100%, 50% 62%, 12% 100%, 0 100%, 0 88%, 38% 50%, 0 12%);
}

.icon-menu {
    width: 25px;
    height: 25px;
    background-color: black;
    clip-path: polygon(0 0, 100% 0, 100% 20%, 0 20%, 0 40%, 100% 40%, 100% 60%, 0 60%, 0 80%, 100% 80%, 100% 100%, 0 100%);
}

.button:hover>.icon {
    background-color: var(--t-brown);
}

/* START OF NON-GENERAL CODE*/

@keyframes menu {
    0% {
        transform: translateY(-20%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.menu {
    display: none;
    text-align: center;
}

.menu-popup {
    z-index: 1001;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100%);
    height: calc(100%);
    animation: menu 0.2s forwards;
    overflow: scroll;
}

.menu-home {
    background-color: var(--t-yellow);
}
body:has(.menu-input-home:checked) .menu-home {
    display: block;
}

.menu-home-section-one {
    width: 100%;
    height: fit-content;
    background-color: white;
    padding: 20px;
}

.menu-home-wave-container {
    display: flex;
    flex-direction: row;
    gap: var(--wave-height);
    height: var(--wave-height);
    flex-wrap: nowrap;
    position: absolute;
    width: 100%;
    background-color: inherit;
    overflow: hidden;
}

.menu-home-wave-wave {
    height: 100%;
    aspect-ratio: 1;
    background-color: white;
    animation: wave 3s infinite linear;
}

.menu-home-section-two {
    width: 100%;
    height: fit-content;
    padding: 40px 20px 20px;
}

.menu-tutorial {
    background-color: var(--t-yellow);
}
body:has(.menu-input-tutorial:checked) .menu-tutorial {
    display: block;
}
.menu-tutorial-info {
    width: 100%;
    max-width: var(--grid-width);
    height: fit-content;
    padding: 20px;
    background-color: white;
    border: 4px solid var(--t-dullblue);
    border-radius: 4px;
    margin: 0 auto 20px;
}
.menu-tutorial-nav {
    display: flex;
    position: absolute;
    flex-direction: row;
    width: 100px;
    height: 50px;
    bottom: 5px;
    left: calc(50% - 50px);
}
.menu-tutorial-nav-item {
    flex-grow: 1;
    height: 50%;
    transform: translateY(100%);
    background-color: var(--t-brown);
    transition: height 0.2s, transform 0.2s;
    clip-path: polygon(25% 0, 75% 0, 75% calc(100% - 5px), 100% calc(100% - 5px), 100% 100%, 0 100%, 0 calc(100% - 5px), 25% calc(100% - 5px));
}
.menu-tutorial-nav-item:hover {
    background-color: black;
}
body:has(.menu-input-tutorial-0:checked) .menu-tutorial-nav-item-0 {
    height: 100%;
    transform: none;
}
body:has(.menu-input-tutorial-1:checked) .menu-tutorial-nav-item-0 {
    height: 100%;
    transform: none;
}
body:has(.menu-input-tutorial-2:checked) .menu-tutorial-nav-item-2 {
    height: 100%;
    transform: none;
}
.menu-tutorial-section {
    display: none;
}
body:has(.menu-input-tutorial-0:checked) .menu-tutorial-section-0 {
    display: block;
}
body:has(.menu-input-tutorial-1:checked) .menu-tutorial-section-1 {
    display: block;
}
body:has(.menu-input-tutorial-2:checked) .menu-tutorial-section-2 {
    display: block;
}

.menu-menu {
    padding: 20px;
}
body:has(.menu-input-menu-easy:checked) .menu-menu-easy {
    display: block;
}
body:has(.menu-input-menu-medium:checked) .menu-menu-medium {
    display: block;
}
body:has(.menu-input-menu-home:checked) .menu-menu-home {
    display: block;
}

body:has(.menu-input-play-easy:checked) .menu-play-easy {
    display: block;
}
body:has(.menu-input-play-medium:checked) .menu-play-medium {
    display: block;
}

body:has(.menu-input-play:checked) .header-label::after {
    content: "Rook Puzzle";
}
body:has(.menu-input-menu:checked) .header-label::after {
    content: "Menu";
}

header {
    position: relative;
    width: 100%;
    height: var(--header-height);
    overflow: hidden;
    background-color: var(--t-yellow);
}

.header-label {
    width: 100%;
    height: var(--header-height - var(--wave-height));
    overflow: hidden;
    text-align: center;
}

.header-label::after {
    color: black;
}

.header-section {
    display: flex;
    flex-direction: row;
    gap: var(--wave-height);
    flex-wrap: nowrap;
    position: absolute;
    top: calc(var(--header-height) - var(--wave-height));
    width: 100%;
    height: var(--wave-height);
    background-color: inherit;
    overflow: hidden;
}

@keyframes wave {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.header-section-wave {
    height: 100%;
    aspect-ratio: 1;
    background-color: white;
    border: none;
    animation: wave 3s infinite linear;
    transform: translateY(-2px);
}

main {
    margin: 20px auto auto;
}

.menu-play-icons {
    width: 100%;
    max-width: var(--grid-width);
    height: 25px;
    margin: 0 auto 5px;
    text-align: left;
}

.menu-play-icons>* {
    height: 100%;
    width: auto;
    aspect-ratio: 1;
    display: inline-block;
}

.grid {
    display: grid;
    margin: auto;
    width: min(var(--grid-width), calc(100% - 20px));
    max-width: calc(calc(100vh - 10px) - calc(var(--header-height) + var(--header-wave-height)));
    aspect-ratio: 1;
    border: 4px solid var(--t-dullblue);
    border-radius: 4px;
    overflow: hidden;
}

.square {
    position: relative;
    border: none;
}

.square-even {
    background-color: var(--t-blue);
}

.square-odd {
    background-color: white;
}

.square-check {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    cursor: pointer;
}

.square-dot {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 20%;
    height: 20%;
    transition-duration: 0.3s;
    background-color: black;
    transform: scale(0);
}

/* Dotted square */
.square-full:has(.square-check:not(:checked)):has(.square-disable:not(:checked)) .square-dot {
    clip-path: polygon(20% 0, 80% 0, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%, 20% 0%, 30% 30%, 30% 70%, 70% 70%, 70% 30%, 30% 30%, 20% 0, 20% 0, 20% 0, 20% 0, 20% 0, 20% 0, 20% 0);
    transform: scale(1);
}

.square-full:has(.square-check:not(:checked)):has(.square-disable:not(:checked)):has(.square-check:hover) .square-dot {
    transform: scale(1.5);
}

/* Rook square, unselected */
.square-full:has(.square-check:checked):has(.square-disable:not(:checked)) .square-dot {
    clip-path: polygon(0 0, 20% 0, 20% 20%, 40% 20%, 40% 0%, 60% 0%, 60% 20%, 80% 20%, 80% 0%, 100% 0%, 100% 40%, 70% 40%, 70% 70%, 90% 70%, 90% 100%, 10% 100%, 10% 70%, 30% 70%, 30% 40%, 0% 40%, 0% 0%);
    transform: scale(1.5);
}

.square-full:has(.square-check:checked):has(.square-disable:not(:checked)) .square-cover {
    position: absolute;
    width: 5000%;
    height: 5000%;
    top: -2500%;
    left: -2500%;
    z-index: 1000;
}

/* Rook square, selected */
.square-full:has(.square-disable:checked) .square-dot {
    clip-path: polygon(0 0, 20% 0, 20% 20%, 40% 20%, 40% 0%, 60% 0%, 60% 20%, 80% 20%, 80% 0%, 100% 0%, 100% 40%, 70% 40%, 70% 70%, 90% 70%, 90% 100%, 10% 100%, 10% 70%, 30% 70%, 30% 40%, 0% 40%, 0% 0%);
    transform: scale(2);
}
.square-full:has(.square-check:checked):has(.square-disable:checked) {
    background-color: var(--t-purple);
    outline: 2px solid white;
    z-index: 1000;
}

.square-full:has(.square-check:checked):has(.square-disable:checked) .square-cover {
    position: absolute;
    width: 5000%;
    height: 5000%;
    top: -2500%;
    left: -2500%;
    z-index: 1000;
    clip-path: polygon(0 0, 50% 0, 50% 50%, 0 50%, 0 52%, 50% 52%, 50% 100%, 52% 100%, 52% 52%, 100% 52%, 100% 50%, 52% 50%, 52% 0, 100% 0, 100% 100%, 0 100%, 0 0);
}

/* Visited square */
.square-full:has(.square-check:not(:checked)):has(.square-disable:checked) .square-dot {
    clip-path: polygon(0 0, 20% 0, 20% 20%, 40% 20%, 40% 0%, 60% 0%, 60% 20%, 80% 20%, 80% 0%, 100% 0%, 100% 40%, 70% 40%, 70% 70%, 90% 70%, 90% 100%, 10% 100%, 10% 70%, 30% 70%, 30% 40%, 0% 40%, 0% 0%);
    transform: scale(0);
}

.square-empty .square-cover,
.square-full:has(.square-disable:checked) .square-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.square-disable {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    margin: 0;
    z-index: 1000;
    cursor: pointer;
}

.square:has(.square-check:checked) .square-disable {
    display: block;
}

.square-menu {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 1000;
    opacity: 0;
    cursor: pointer;
}